<main class="container">
    <!-- Hero Section -->
    <section class="hero">
        <h1>Analisis de enlaces</h1>
        <p>Analiza los enlaces que has creado y ve estadisticas de clics.</p>
    </section>
    <!-- Recent Activity Header -->
    <header class="section-header">
        <h1 class="section-title" style="width: 100%; display: flex; justify-content: center; align-items: center;">
            Proximamente...
        </h1>
    </header>
    <section id="analytics-section" aria-live="polite"></section>
</main>
