    <footer>
        2026 LinkCut</p>
    </footer>

    <script src="js/apiShortUrl.js"></script>
    <script src="js/apiQrcode.js"></script>
    <script src="js/router.js"></script>
    <script src="js/modalQR.js"></script>
    <script src="js/sidebar.js"></script>
</body>
</html>
