<footer>
    <p style="font-size: 1rem; color: var(--text-secondary);">©2026 LinkCut</p>
</footer>

<!-- Librería de utilidades globales -->
<script src="/js/utils/linkUtils.js"></script>
<script src="/js/links.js"></script>
<script src="/js/apiShortUrl.js"></script>
<script src="/js/apiUrlDetails.js"></script>
<script src="/js/apiQrcode.js"></script>
<script src="/js/router.js"></script>
<script src="/js/modalQR.js"></script>
<script src="/js/sidebar.js"></script>
</body>

</html>